*.class

# Package Files #
*.jar
*.war
*.ear
target/*
/search/target/
/common/target/
/cyclon/target/
*.out

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# java doc
/common/doc

# ignore pocs
pocs

#ignore IntelliJ IDEA files
.idea
*.iml
/election/target/
/netty/target/
/gradient/target/
/simulators/target/

#lib
lib

# log files
*.log*
